<phpunit
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnError="true"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
>
    <testsuites>
        <testsuite name="Your tests">
            <file>./tests/FileTest.php</file> 
            <file>./tests/ValidatorTest.php</file> 
            <file>./tests/UrlTest.php</file> 
            <file>./tests/JwtTest.php</file> 
            <file>./tests/SessionTest.php</file> 

        </testsuite>
    </testsuites>
</phpunit>