<phpunit
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnError="true"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
>
    <testsuites>
        <testsuite name="Your tests">
            <file>./tests/FileTest.php</file>
            <file>./tests/ValidatorTest.php</file>
            <file>./tests/UrlTest.php</file>
            <file>./tests/HashTest.php</file>
            <file>./tests/JwtTest.php</file>
            <file>./tests/SessionTest.php</file>
            <file>./tests/DirectoryTest.php</file>
            <file>./tests/HelpersTest.php</file>
            <file>./tests/UploadTest.php</file>
            <file>./tests/UploadHelperTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>